<script>
    let mapToken = "<%=process.env.MAP_TOKEN%>";
    let listing  = JSON.parse('<%- JSON.stringify(listing) %>');
</script>

<%- layout("/layouts/boilerplate.ejs") %>
<body>
     
            <div class="row">
                    <div class="col-8 offset-2">
                <div class="card listing-card" style="width: 30rem;">
                    <h3><b><%= listing.title %></b><br></h3>
                    <img src="<%=listing.image.url%>" class="card-img-top show-img col-6 " alt="listing image">
                    <div class="card-body">
                      <p class="card-text mb-3"><% if (listing.owner) { %>
                          <p>owned by: <%= listing.owner.username %></p>
                        <% } else { %>
                          <p><em>Owner not set</em></p>
                        <% } %></p>
                      <p class="card-text mb-3"><%=listing.location%>,<%= listing.country%> </p>
                      <p class="card-text mb-3"><u>&#x20B9;<%=listing.price.toLocaleString("en-IN")%></u>/Night</p>
                      <p class="card-text mb-3">  <%=listing.description%></p>
                      
                    
                    </div>
                  </div>
                </div>  
            <!-- <div class="row "> -->
                <% if(currUser && currUser._id.equals(listing.owner._id)){%>
                    <div class="show-btn mb-4 ">
                    <a href="/listings/<%= listing._id%>/edit" class="btn  edit-btn  cols-8 offset-4 btn-dark ">Edit</a>
                    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
                        <button class="btn  cols-6 offset-2 btn-dark">Delete</button>
                    </form>
                    </div>

                <%}%>
                <div class="cols-3 offset-2">
                    <% if(currUser){ %>
                    <h3>Leave review</h3>
                    <form method="post" action="/listings/<%=listing._id%>/reviews" class="needs-validation"novalidate>
                        <div class="mb-3 mt-3" >
                        <label for="rating">rating</label>
                        <fieldset class="starability-slot">
                             <legend>First rating:</legend>
                             <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                             <input type="radio" id="first-rate1" name="review[rating]"value="1" />
                             <label for="first-rate1" title="Terrible">1 star</label>
                             <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                             <label for="first-rate2" title="Not good">2 stars</label>
                             <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                             <label for="first-rate3" title="Average">3 stars</label>
                             <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                             <label for="first-rate4" title="Very good">4 stars</label>
                             <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                             <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                        </div>

                        <div class="mb-3 mt-3" >
                            <label for="comment">Comments</label>
                            <textarea name="review[comment]" id="comment" rows="5" cols="30" class="form-control" required></textarea>
                            <div class="invalid-feedback">
                            write a comments for reviews
                          </div>
                        </div>
                        <div>
                            <button class="btn btn-outline-dark">Submit</button>
                        </div>

                    </form>
                   <% }%>

                    <hr>
                    <% if(listing.reviews.length>0){%>
                    <p><b>All reviews</b></p>
                    <div class="row">
                    <%for(review of listing.reviews){%>
                    <div class="card col-5 offset-3 ms-3 mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@<%=review.authore.username%></h5>
                            <p class="starability-result" data-rating=<%=review.rating%>></p>
                            <p class="card-text"><%=review.comment%></p>
                        </div>
                        <% if(currUser && currUser._id.equals(review.authore._id)){%>
                        <form method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=Delete">
                            <button class="btn btn-sm mb-3 btn-dark">Delete</button>
                        </form>
                        <%} %>
                    </div>
                    <% }%>
                    </div>
                    <% }%>
              </div>
                    
                    <div class="col-8 offset-2 mb-3">
                        <h3>Where you'll be</h3>
                        <div id="map"></div>
                    </div>
                    
                    
              
            </div>
            
        </div>  
    </div>   
    <script src="/js/map.js"></script>
</body>
